.todo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;

  .todo-list-container {
    height: auto;
    width: 50%;
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .task-container {
    background: aliceblue;
    margin: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkslategrey;
  }

  .subtask-container {
    padding: 0 5% 0 30%;

    img {
      cursor: pointer;
    }

    .subtask-wrapper {
      background-color: beige;
      border-bottom: 1px solid darkslategrey;
      margin: 10px;
      padding: 15px;
    }
  }
}
